@use "variables" as var;
@use "mixins" as mix;

@mixin box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  padding: 8px;
  width: 330px;
  height: 130px;
  background-color: lightgray;
  border-radius: 2%;
}

@mixin pictures {
  border-radius: 50%;
  height: 40%;
  width: 40%;
  -moz-box-shadow: 4px 4px 4px gray;
  -webkit-box-shadow: 4px 4px 4px gray;
  box-shadow: 0px 0px 12px gray;
}

@mixin mark {
  font-size: 50px;
  transform: rotate(180deg);
}
