@use "variables" as var;
@use "mixins" as mix;

@mixin box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  margin: 30px;
  padding: 30px;
  padding-top: 10px;
  border-radius: 2%;
  background-color: var.$color-box;
}

@mixin pictures {
  border-radius: 50%;
  height: 90%;
  width: 90%;
  -moz-box-shadow: 4px 4px 4px gray;
  -webkit-box-shadow: 4px 4px 4px gray;
  box-shadow: 0px 0px 12px gray;
}

@mixin mark {
  font-size: 50px;
  display: inline-block;
  transform: rotate(180deg);
}
